<div class="create-project-page">

    <div class="create-project-card">

        <!-- HEADING -->

        <h1>
            {{
              isEditMode()
                ? 'Edit Project'
                : 'Create Project'
            }}
        </h1>

        <!-- SUBTITLE -->

        <p>
            {{
              isEditMode()
                ? 'Update your project details'
                : 'Create a new project workspace'
            }}
        </p>

        <!-- FORM -->

        <form
          class="project-form"
          (ngSubmit)="submitProject()"
        >

            <!-- PROJECT NAME -->

            <input
              type="text"
              placeholder="Project Name"
              [(ngModel)]="project.name"
              name="name"
              required
            />

            <!-- DESCRIPTION -->

            <textarea
              placeholder="Project Description"
              [(ngModel)]="project.description"
              name="description"
              required
            ></textarea>

            <!-- BUTTON -->

            <button
              type="submit"
              class="create-btn"
            >

                {{
                  isEditMode()
                    ? 'Update Project'
                    : 'Create Project'
                }}

            </button>

        </form>

    </div>

</div>